.flex {
    display: flex;

    &-1 {
        display: flex;
        flex: 1;
    }

    &-x {
        display: flex;
        flex-direction: row;
    }

    &-y {
        display: flex;
        flex-direction: column;
    }

    &-justify {
        &-center {
            display: flex;
            justify-content: center;
        }

        &-between {
            display: flex;
            justify-content: space-between;
        }

        &-around {
            display: flex;
            justify-content: space-around;
        }
    }

    &-align {
        &-center {
            display: flex;
            align-items: center;
        }
        &-start {
            display: flex;
            align-items: flex-start;
        }
        &-end {
            display: flex;
            align-items: flex-end;
        }
    }

    &-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
